<div class="container mt-4">
  <%= form_with(model: credit_card, local: true, class: "card") do |form| %>
    <% if credit_card.errors.any? %>
      <div class="card-body">
        <div class="alert alert-danger">
          <h4 class="alert-heading"><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit card from being saved:</h4>
          <ul>
            <% credit_card.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="card-body">
      <div class="form-group">
        <%= form.label :name, 'Card Name' %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :card_type, 'Card Type' %>
        <%= form.select :card_type, options_for_select(['Visa', 'MasterCard', 'RuPay'], credit_card.card_type), {}, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :expiry_date, 'Expiry Date' %>
        <%= form.date_select :expiry_date, { start_year: Date.today.year, end_year: Date.today.year + 10, discard_day: true }, { class: 'form-control' } %>
      </div>

      <div class="form-group">
        <%= form.label :statement_date, 'Statement Date' %>
        <%= form.date_select :statement_date, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :payment_due_date, 'Payment Due Date' %>
        <%= form.date_select :payment_due_date, { class: "form-control" } %>
      </div>

      <div class="form-group form-check">
        <%= form.check_box :reminder, class: "form-check-input" %>
        <%= form.label :reminder, 'Reminder for Settlement', class: "form-check-label" %>
      </div>

      <div class="form-group">
        <%= form.label :last_four_digits, 'Last 4 Digits of Card' %>
        <%= form.text_field :last_four_digits, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description, 'Description' %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :additional_notes, 'Additional Notes' %>
        <%= form.text_area :additional_notes, class: "form-control" %>
      </div>

      <div class="form-group form-check">
        <%= form.check_box :has_annual_fee, class: "form-check-input" %>
        <%= form.label :has_annual_fee, 'Has Annual Fee', class: "form-check-label" %>
      </div>
    </div>

    <div class="card-footer text-right">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
