<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title"><%= @income.source %></h3>
      <div class="card-subtitle text-muted"><%= number_to_currency(@income.amount) %></div>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9"><%= @income.description %></dd>

        <dt class="col-sm-3">Frequency:</dt>
        <dd class="col-sm-9"><%= @income.frequency %></dd>
      </dl>
      <div class="d-flex justify-content-between mt-3">
        <%= link_to 'Edit', edit_income_path(@income), class: "btn btn-primary" %>
        <%= link_to 'Back', incomes_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
