<div class="container mt-4">
  <%= form_with(model: expense, local: true, class: "card") do |form| %>
    <% if expense.errors.any? %>
      <div class="card-body">
        <div class="alert alert-danger">
          <h4 class="alert-heading"><%= pluralize(expense.errors.count, "error") %> prevented this expense from being saved:</h4>
          <ul>
            <% expense.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="card-body">
      <div class="form-group">
        <%= form.label :category, 'Category' %>
        <%= form.text_field :category, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :incurred_on, 'Date' %>
        <%= form.date_field :incurred_on, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :amount, 'Amount (₹)' %>
        <%= form.number_field :amount, step: 0.01, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :notes, 'Notes' %>
        <%= form.text_area :notes, class: "form-control" %>
      </div>
    </div>

    <div class="card-footer text-right">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
