<p>
  <strong>Date:</strong>
  <%= @expense.incurred_on %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= formatted_amount(@expense.amount) %>
</p>

<% if @expense.notes.present? %>
  <p>
    <strong>Notes:</strong>
    <%= @expense.notes %>
  </p>
<% end %>

<%= link_to 'Edit', edit_expense_path(@expense), class: 'btn btn-primary' %> |
<%= link_to 'Back', expenses_path, class: 'btn btn-secondary' %>
