<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title"><%= @expense.category %></h3>
      <div class="card-subtitle text-muted"><%= number_to_currency(@expense.amount) %></div>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9"><%= @expense.description %></dd>

        <dt class="col-sm-3">Payment Method:</dt>
        <dd class="col-sm-9"><%= @expense.payment_method %></dd>

        <dt class="col-sm-3">Expense Type:</dt>
        <dd class="col-sm-9"><%= @expense.expense_type %></dd>
      </dl>
      <div class="d-flex justify-content-between mt-3">
        <%= link_to 'Edit', edit_expense_path(@expense), class: "btn btn-primary" %>
        <%= link_to 'Back', expenses_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
